body {
  margin: 0;
  font-family: Arial;
  background: #0b0f1a;
  color: white;
}

.app {
  padding: 10px;
}

/* TOP BAR */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.sub {
  font-size: 12px;
  opacity: 0.6;
}

.wallet {
  text-align: right;
  font-size: 13px;
}

/* FEED */
.page {
  display: none;
}

.page.active {
  display: block;
}

.post {
  background: rgba(255,255,255,0.05);
  padding: 12px;
  margin: 10px 0;
  border-radius: 12px;
  backdrop-filter: blur(10px);
}

.post h4 {
  margin: 0;
}

.tag {
  font-size: 11px;
  opacity: 0.6;
}

/* FLOAT BUTTON */
.fab {
  position: fixed;
  bottom: 80px;
  right: 20px;
  background: #00ff88;
  border: none;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  font-size: 24px;
  color: black;
}

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
}

.hidden {
  display: none;
}

.modal-content {
  background: #111827;
  padding: 20px;
  margin: 50px auto;
  width: 90%;
  border-radius: 12px;
}

input, textarea, select {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #1f2937;
  color: white;
}

/* BUTTON */
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
}

.close {
  background: red;
  color: white;
}

/* BOTTOM NAV */
.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  background: #0f172a;
}

.bottom-nav button {
  flex: 1;
  padding: 15px;
  background: none;
  color: white;
  border: none;
}
